.logo{
    width: 250px;
   height: 250px;
}
.icon{
    width: 40px;
   height: 40px;
}
.banner{
    height: 200px;
    background-image: url("../images/bethany-fullsize.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    background-position: center 0px;
    background-color: red;
}

/* Medium devices (desktops,  and up) */
@media (min-width: 992px) {
    .banner{
        height: 600px;
    }
}
